<article class="entry">
     <Entry::Image
    src={{@entry.image}}
    alt={{@rental.title}}
  />
  <div class="details">
    <h3>{{@entry.title}}</h3>
    <div class="detail source">
      <span>Source:</span> {{@entry.source}}
    </div>
    <div class="detail type">
      <span>Type:</span> {{@entry.type}}
    </div>
    <div class="detail summary">
      <span>Summary:</span> {{@entry.summary}}
    </div>
    <div class="detail take">
      <span>Contributor's Take:</span> {{@entry.take}}
    </div>
  </div>
</article>